body {
    background-color: rgb(224, 230, 198);

}

i {
    color: rgba(12, 95, 116, 0.918);

}

h1 {
    color: rgb(200, 214, 70);

}

.board {
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Fredericka the Great';

}

.survey {
    color: rgb(46, 43, 43);
    font-family: 'Permanent Marker';

}

h2 {
    color: rgba(50, 102, 68, 0.678);
    font-family: 'Permanent Marker';

}

h3 {
    font-family: 'Fredericka the Great';
    color: rgba(206, 41, 41, 0.918);

}

h4 {
    font-family: 'Cabin Sketch';

}

.submit {
    background-color: rgba(185, 56, 56, 0.918);
    border-radius: 10px;
    border: none;
    color: antiquewhite;
    height: 5vh;
    width: 18%;
    margin-top: .5%;
    padding-top: .7%;

}

#submit {
    background-color: rgba(185, 56, 56, 0.918);
    border-radius: 10px;
    font-family: 'Fredericka the Great';
    font-size: x-large;
    border: none;
    color: antiquewhite;
    height: 5vh;
    width: 18%;
    margin-top: 1%;
    padding-top: .3%;

}

#survey-btn {
    font-family: 'Fredericka the Great';

}

.surveyHead {
    font-family: 'Permanent Marker';
    font-size: 55px;
    color: rgba(0, 0, 0, 0.76)

}

a {
    color: rgb(12, 95, 116);

}

#match-img {
    height: 250px;
    width:250px;

}

.jumbotron {
    background-color: rgb(112, 168, 112);
    height: 87vh;
    margin-top: 2%;
    border: 5px solid rgba(65, 65, 65, 0.815);
    border-radius: 20px;
    text-align: center;
    font-family: 'Fredericka the Great';

}

.container1 {
    margin-top: 15%;

}

.container2 {
    border: 3px dotted rgb(138, 173, 11);
    border-radius: 10px;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-left: .5%;
    margin-right: .5%;
    padding: 1%;
}

footer {
    text-align: center;
    color: rgb(66, 63, 63);

}